h1 {text-align: center; margin-bottom: 15px;}

ul.bricks {
    text-align: justify;
}
ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
}

.postbox { max-width: 60em; margin-left: auto; margin-right: auto; }

blockquote p, blockquote, p {
    text-align: justify;
    /*font-size: 16px;*/
}

#nikola-is-a-static-site-and-blog-generator p {
    font-size: 16px;
}

#nikola-is-a-static-site-and-blog-generator > p.lead {
    font-size: 19px;
}

.previous a,.next a{border-radius:4px}

/* Workaround for bootstrap bug */
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
  }
}
