ul.bricks {
    text-align: justify;
}
ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
}

.postbox { max-width: 60em; margin-left: auto; margin-right: auto; }

blockquote p, blockquote, p {
    text-align: justify;
    /*font-size: 16px;*/
}

.previous a,.next a{border-radius:4px}

.navbar-inverse .navbar-nav > li > a {
    color: #cccfd5;
}

.navbar-brand #logo {
    height: 50px;
}

.feature-icon {
    text-align: center;
}

.feature-icon .fa-stack {
    color: #3e4445;
    transition: color 0.5s ease;
}

.feature-icon .fa-stack:hover {
    color: #f5ab14;
    transition: color 0.5s ease;
}

.index-feature {
    text-align: center;
}

pre.gs-console {
    background: #272822;
    color: #f8f8f2
}

code.gs-code {
    background: #272822;
    color: #f8f8f2;
    white-space: nowrap;
}

.gs-command, code.gs-command {
    color: #66d9ef;
}

.gs-root, code.gs-root {
    color: #f92672;
}

.gs-input, code.gs-input {
    color: #a6e22e;
}
