h1 {text-align: center; margin-bottom: 15px;}

ul.bricks {
    text-align: justify;
}
ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
}
