## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%namespace name="helper" file="post_helper.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
</%block>


<%block name="content">
<article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div itemprop="articleBody text">
    ${post.text()}
    </div>
</article>
</%block>
